<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"     
    xmlns:mvc="http://www.springframework.org/schema/mvc"     
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
    http://www.springframework.org/schema/tx    
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.3.xsd   
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"> 

	<!-- 激活标注开发 -->
	<context:annotation-config />

	<!-- DispatcherServlet上下文， 只管理@Controller类型的bean， 忽略其他型的bean, 如@Service.。自动扫描controller -->
	<context:component-scan base-package="com.sixo.quartz">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 扩充了注解驱动，可以将请求参数绑定到控制器参数 -->
	<mvc:annotation-driven />
	
	<!-- 静态资源处理， css， js， imgs -->
	<!-- <mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/index.jsp" location="/"/>
	<mvc:resources mapping="/static/**" location="/static/"/> -->
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsps/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean> -->  
<!-- <mvc:interceptors>  
	
  <mvc:interceptor>  
   需拦截的地址  
                        一级目录  
   <mvc:mapping path="/friends/**" />  
   <mvc:mapping path="/home/**" />  
   <mvc:mapping path="/post/**" /> 
   <mvc:mapping path="/search /**" />
  
   需排除拦截的地址  
   <mvc:exclude-mapping path="/login.htm"/>  
   <bean class="com.linimg.interceptor.UserStatus" />  
  </mvc:interceptor>  
 </mvc:interceptors>  -->
</beans>